version: 3

images:
  base_image:
    name: quay.io/fedora/fedora:44

dependencies:
  python_interpreter:
    package_system: python3
  ansible_core:
    # k3s-ansible requires Ansible Core 2.15+
    package_pip: ansible-core>=2.15
  ansible_runner:
    package_pip: ansible-runner
  system:
    - openssh-clients
  galaxy:
    collections:
      # k3s-ansible v1.1.1
      - name: git+https://github.com/k3s-io/k3s-ansible.git
        type: git
        version: f85bc4d0148e10d109b3d62f4116ebafdde890a7

additional_build_steps:
  # ensure git is installed before installing the git-based Ansible Galaxy collection
  prepend_galaxy:
    - RUN $PKGMGR install git-core -y; if [ -z $PKGMGR_PRESERVE_CACHE ]; then $PKGMGR clean all; fi