# Excerpt from: https://github.com/k3s-io/k3s-ansible/blob/main/roles/k3s_server/tasks/main.yml
# k3s-ansible seems to not export the kubeconfig to the control node, even when following the
# instructions at: https://github.com/k3s-io/k3s-ansible/tree/main?tab=readme-ov-file#kubeconfig
# So, this playbook manually runs the kubeconfig export functionality.
- name: Export Kubeconfig to control node
  hosts: k3s_cluster
  become: yes
  gather_facts: false
  vars:
    cluster_context: k3s-ansible
    kubeconfig: ~/.kube/config.new
  tasks:
    - name: Apply K3S kubeconfig to control node
      block:
        - name: Create .kube directory if it does not exist
          ansible.builtin.file:
            path: .kube
            state: directory
            mode: '0755'
          delegate_to: 127.0.0.1
          become: false

        - name: Touch kubeconfig file
          ansible.builtin.file:
            path: .kube/config
            state: touch
            mode: '0755'
          delegate_to: 127.0.0.1
          become: false

        - name: Copy kubeconfig to control node
          ansible.builtin.fetch:
            src: /etc/rancher/k3s/k3s.yaml
            dest: "{{ kubeconfig }}"
            flat: true

        - name: Change server address in kubeconfig on control node
          ansible.builtin.shell: |
            KUBECONFIG={{ kubeconfig }} kubectl config set-cluster default --server=https://{{ api_endpoint }}:{{ api_port | default('6443') }}
          delegate_to: 127.0.0.1
          become: false

        - name: Setup kubeconfig context on control node - {{ cluster_context }}
          ansible.builtin.replace:
            path: "{{ kubeconfig }}"
            regexp: 'default'
            replace: '{{ cluster_context }}'
          delegate_to: 127.0.0.1
          become: false

        - name: Merge with any existing kubeconfig on control node
          ansible.builtin.shell: |
            TFILE=$(mktemp)
            KUBECONFIG={{ kubeconfig }}:~/.kube/config kubectl config set-context {{ cluster_context }} --user={{ cluster_context }} --cluster={{ cluster_context }}
            KUBECONFIG={{ kubeconfig }}:~/.kube/config kubectl config view --flatten > ${TFILE}
            mv ${TFILE} .kube/config
          delegate_to: 127.0.0.1
          become: false